<h1>This is a header</h1>

<p>words</p>

<a href="http://localhost:3000/">link to home page</a>

<div class="first">
  this is the first div
</div>

<div class="second">
  this is the second div
</div>

<p class="first">p related to first div</p>

<p id="unique">this uses an id selector</p>

<div class="social">
  <p>
    I may be found on....
  </p>
  <p>
    Additionally, I have a profile on...
  </p>
</div>

<p>
  Soon we'll be <span class="tooltip">writing HTML</span> with the best of them
</p>
